extends layouts/main.pug

block content
    .goods__form
        h1.goods__title=goods.title
        .goods__form-img
            img(src=`/${goods.fileUrl}`)
    .goods__form-info
        .goods__form-container
            a(href=routes.editGoods(goods.id)) Edit Goods
            p.goods__pays=`${goods.pays} 원`
        .goods__form-description    
            p.goods_d="Description"
            p.goods__description=goods.description