extends layouts/main.pug

block content
    .search__header
        h3 Searching By #{searchingBy}
    .search__goods
        if goods.length === 0
            h5 No Goods Found
        each item in goods
            a(href=routes.goodsDetail(item.id))
                img(src=item.fileUrl)
                h1= item.title
                h2= item.description
                h3= item.pays